/* @import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
body{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
} */
@font-face {
	font-family:"jp";
	src: url(../fonts/AdobeSongStd-Light_0.otf);
}
body{
	font-family: "jp";
}
#container{
	width: 326px;
	margin: 0 auto;
	margin-top: 50px;
}
h3{
	background-color: #00B8CF;
	line-height: 50px;
	color: white;
	margin-bottom: 10px;
	padding-left: 20px;
	position: relative;
	font-weight: normal;
}
.section{
	cursor: pointer;
	position: relative;
	transition: all 0.5s ease 0.15s;
}
.tit{
	line-height: 50px;
	padding-left: 20px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
	font-size: 18px;
}
.section .content{
	max-height: 0;
	opacity: 0;
	transition: all 0.5s ease 0.15s;
}
.section .content p{
	padding: 10px;
	padding-top: 0px;
	font-size: 14px;
}
.section .content.active{
	max-height: 100%;
	opacity: 1;
	transition: all 0.5s ease 0.15s;
}
.section.active{
	transform: scale(1.08);
	box-shadow: 0px 0px 20px gray;
	transition: all 0.5s ease 0.15s;
}
