*{
	margin: 0px;
	padding: 0px;
}
/* h1,h2,h3,h4,h5,h6{
	font-size: 16px;
	font-weight: normal;
} */
ul,li,ol{
	list-style: none;
}
u,a{
	text-decoration: none;
}
img{
	border: none;
}
input{
	outline: none;
}
b,strong{
	font-weight: normal;
}
em,i{
	font-style: normal;
}
.clear_fix::after{
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
	display: block;
}