body{
	background-color: #262626;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#container{
	perspective: 800px;
	/* height: 500px;
	width: 500px;
	background-color: white; */
	position: relative;
}
.toggle>input[type="radio"]{
	display: none;
}
.toggle>label{
	display: inline-block;
	padding: 40px 80px;
	font-size: 30px;
	font-weight: bold;
	color: #8A3A00;
	text-align: center;
	min-width: 100px;
	cursor: pointer;
}
.toggle{
	height: auto;
	border: 6px solid #8A3A00;
	border-radius: 60px;
	transition: all 0.4s;
	perspective: 800px;
}
.toggle>#flap{
	font-size: 30px;
	font-weight: bold;
	color: #262626;
	background-color: #8A3A00;
	border: 6px solid #8A3A00;
	padding: 40px 80px;
	position: absolute;
	top: -6px;
	left: 0px;
	border-radius: 60px 0px 0px 60px;
	text-align: center;
	min-width: 100px;
	transform-style: preserve-3d;
	transform-origin: right;
	transition: all 0.5s;
}
/* .toggle>#flap:hover{
	transform: rotateY(180deg);
	transition: all 3s;
} */
.toggle>#flap[class=active]{
	transform: rotateY(180deg);
}
.toggle>#flap>span{
	display: block;
}
.toggle>#flap>.content{
	transform: rotateY(-180deg);
}
.toggle.right{
	transform: rotateY(15deg);
}
.toggle.left{
	transform: rotateY(-15deg);
}