body{
	background-color: #FF6600;
}
#container{
	width: 600px;
	height: 400px;
	margin: 50px auto;
	/* background-color: #00B8CF; */
	position: relative;
}
.eye{
	width: 260px;
	height: 260px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	animation: eye 3.5s infinite;
}
.eye.left{
	left: 0px;
}
.eye.right{
	right: 0px;
}
.eye span{
	display: block;
	width: 170px;
	height: 170px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	animation: eyes 17.5s infinite;
}
#nose{
	width: 130px;
	height: 160px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}
.eye:before{
	content: "";
	width: 210px;
	height: 40px;
	background-color: #000000;
	position: absolute;
	top: -60px;
	left: 25px;
	border-radius: 50%;
}
.eye::after{
	content: "";
	width: 210px;
	height: 30px;
	background-color: #FF6600;
	position: absolute;
	left: 25px;
	top: -30px;
	border-radius: 70% 70% 0 0;
}
@keyframes eye{
   0%,
   5%,
   30%,
   37%,
   100%{
       height: 260px;
   }
    3%,
    33%{
        height: 0;
    }
}
@keyframes eyes{
    0%,
    20%{
        transform:translate3d(-100%,-50%,0)
    }
    21%,
    40%,
    81%,
    100%{
        transform: translate3d(-50%,-50%,0);
    }
    41%,
    60%{
        transform:translate3d(0,-50%,0);
    }
    61%,
    80%{
        transform:translate3d(-50%,0,0)
    }
}